* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif; }

.header {
  background-color: white;
  border-bottom: 3px solid lightblue;
  padding: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10000000; }

.botonbusqueda {
  border: 1px solid white;
  border-radius: 15px; }

.ul {
  display: flex;
  flex-direction: row; }

.ul__ {
  list-style: none;
  margin-left: 15px;
  text-decoration: underline 1.5px;
  font-size: 14px;
  font-weight: bold; }

.input {
  border-color: lightblue;
  font-weight: bold;
  border-radius: 5px;
  width: 150px; }

.buttoncontactenos {
  font-weight: bold;
  border-width: 0vmin;
  border-radius: 5px;
  border-style: inset;
  transition: 1s; }

.buttoncontactenos:hover {
  background-color: lightblue; }

.imgheader {
  width: 200px;
  height: 50px; }

.footer {
  background-color: white;
  border-top: 3px solid lightblue;
  width: 100%;
  height: 100px;
  display: block;
  padding: 16px; }

.spanfooter {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 140px; }

.a {
  text-align: end;
  position: relative;
  bottom: 130px; }

.pfooter {
  position: relative;
  bottom: 10px;
  text-align: left;
  font-size: 12px; }

.imgfooter {
  align-items: center; }

.imgfooter-- {
  width: 200px;
  height: 50px; }

.ulfooter {
  padding-top: 15px;
  transform: translate(-30px); }

.wasap {
  padding: 16px;
  bottom: 65%;
  left: 71%;
  display: flex;
  position: fixed; }

.imgwasap {
  width: 60px;
  height: 60px; }

.redessolciales {
  width: 50px;
  height: 50px; }

@keyframes iconowasap {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1; }
  50% {
    width: 30px;
    height: 30px;
    opacity: 0; }
  100% {
    width: 60px;
    height: 60px;
    opacity: 1; } }

.imgwasap {
  animation: iconowasap;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-delay: 0.5s; }

.section {
  padding-top: -50px; }

.main {
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  padding-top: 50px;
  text-align: center; }

.h1 {
  color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 32px; }

.h2 {
  color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 16px; }

.imagen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding-left: 25px;
  padding-right: 25px; }

.imagen-- {
  width: 400px;
  height: 250px;
  border-radius: 40px;
  border-color: antiquewhite;
  border-style: groove; }

.span {
  text-decoration: underline;
  font-weight: bold;
  color: antiquewhite;
  font-size: 14px;
  padding-left: 5px; }

.ulmain {
  color: antiquewhite;
  padding-left: 5px;
  font-size: 14px;
  padding-top: 10px; }

.p {
  color: antiquewhite;
  padding-left: 5px;
  padding-bottom: 15px;
  font-size: 14px; }

.grid {
  padding-bottom: 20px;
  justify-content: center;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-columns: "img1" "img2" "img3" "img4" "img5" "img6"; }

.gridhijo1 {
  grid-area: "img1"; }

.gridhijo2 {
  grid-area: "img2"; }

.gridhijo3 {
  grid-area: "img3"; }

.gridhijo4 {
  grid-area: "img4"; }

.gridhijo5 {
  grid-area: "img5"; }

.gridhijo6 {
  grid-area: "img6"; }

.imggrid {
  border: 3px solid silver;
  border-radius: 15px;
  border-style: outset;
  width: 200px;
  height: 150px; }

.mainquienes {
  padding: 100px 16px;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  color: aliceblue; }

h3 {
  font-weight: bold;
  text-decoration: underline;
  text-align: start;
  padding-top: 15px; }

.imgquienes {
  width: 200px;
  height: 200px;
  position: relative;
  top: 15px;
  border-color: whitesmoke;
  border-radius: 80px;
  border-style: solid;
  border-style: outset; }

.video {
  display: flex;
  justify-content: space-around;
  padding-top: 20px; }

.video__ {
  width: 200px;
  height: 200px;
  border-color: aliceblue;
  border-radius: 50px;
  border-style: outset;
  object-fit: cover; }

.href3quienessomos {
  font-weight: bold;
  color: white;
  transition: background-color .5s; }

.href3quienessomos:hover {
  background-color: gold;
  font-size: large; }

.divquienes {
  display: flex;
  justify-content: center; }

.spanquines {
  font-weight: bolder;
  margin-top: 30px;
  display: flex;
  justify-content: center; }

.mainproductos {
  color: aliceblue;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  padding-top: 128px;
  width: 100%; }

.sectionproductos {
  background: linear-gradient(0deg, #22c1c3 0%, #3c83dc 11%);
  width: 500px;
  height: 400px;
  padding-left: 16px;
  padding-top: 4px;
  margin-bottom: 5px;
  border-radius: 20px;
  border-bottom: 3px solid lightblue;
  border-top: 1.5px ridge lightblue; }

.inputproductos {
  display: flex;
  justify-content: end;
  padding-right: 16px;
  transform: translate(10px, -35px);
  gap: 5px; }

.inputproductos-- {
  width: 75px;
  height: 26px;
  border-radius: 5px; }

.botonproductos {
  width: 55px;
  height: 26px;
  border-radius: 5px; }

.divpadreproductos1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 15px; }

.divpadreproductos2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }

.ulproductos {
  display: inline-block;
  justify-items: start;
  transform: translate(-30px); }

.pproductos {
  text-decoration: underline;
  padding-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-style: normal; }

.inputproductos-adonis {
  transform: translate(5px, 35px); }

.inputproductos-handpush {
  transform: translate(5px, 10px); }

.divproductos {
  display: flex;
  justify-content: center; }

.divproductos__ {
  color: white;
  font-weight: bolder; }

.imgproductos {
  width: 150px;
  height: 150px; }

/* CONTACTENOS */
.maincontactenos {
  color: aliceblue;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  padding-top: 128px;
  padding-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.formulariodecontacto {
  font-size: 25px;
  text-decoration: underline; }

.sectioncontactenos {
  display: inline-block;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 10px; }

.divcontactenos {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.divcontactenos-- {
  width: 25px;
  height: 25px; }

.mapa {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.mapa__ {
  color: red; }

.iframecontactenos {
  border: 3px solid lightblue;
  border-radius: 8px;
  width: 600px;
  height: 350px; }

.pcontactenos {
  text-align: center; }

.buttoncontactenos {
  width: 60px;
  height: 30px; }

@keyframes map {
  0% {
    width: 100px;
    opacity: 1; }
  50% {
    height: 300px;
    opacity: 0; }
  100% {
    width: 100px;
    opacity: 1; } }

.mapa__ {
  color: navy;
  background-color: white;
  border-radius: 5px;
  border: 3px solid lightblue;
  border-style: outset;
  font-size: 16px;
  font-weight: bold;
  animation: map;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-delay: 1.5s; }

/* CATALOGOS*/
.maincatalogos {
  color: aliceblue;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  padding-top: 128px; }

.h1catalogos {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bolder; }

.divcatalogos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px; }

.divcatalogos__ {
  width: 350px;
  height: 350px;
  border: 4px solid whitesmoke;
  border-radius: 10px; }

.divcatalogos-- {
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  padding-bottom: 16px; }

.revendedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.revendedor__ {
  display: inline-block;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center; }

.revendedor-- {
  text-align: center;
  padding-top: 5px; }

.imgrevendedor {
  width: 200px;
  height: 200px;
  border: 3px solid whitesmoke;
  border-radius: 10px; }

.buttoncatalogos {
  width: 60px;
  height: 30px; }

.buttoncatalogos-- {
  display: flex;
  justify-content: center; }

.formcatalogos {
  padding-top: 16px;
  padding-bottom: 16px; }

/*BOOTSTRAPS*/
.imgboot {
  width: 600px;
  height: 275px;
  border-radius: 50px;
  border-style: outset; }

.sectionmainboot {
  display: flex;
  justify-items: center;
  width: 600px;
  height: 380px;
  margin: auto;
  padding-top: 100px; }

.carousel-inner {
  width: 600px;
  height: 400px; }

.divsectionboot {
  height: 400px; }

.carousel-control-prev {
  padding-bottom: 125px;
  padding-right: 50px; }

.carousel-control-next {
  padding-bottom: 125px;
  padding-left: 50px; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%); }

/* BOOTSTRAP CONTACTENOS
Agregue un boton al final del formulario de busqueda
*/
.btn-light {
  border: solid white;
  border-radius: 30px;
  width: 100px; }

.btn {
  color: navy;
  font-weight: bold; }

/* MEDIAS QUERIE*/
@media screen and (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: start; }
  .botonbusqueda {
    display: none; }
  .imagen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px; }
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: start; }
  /*CATALOGOS*/
  /*main*/
  .divcatalogos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px;
    gap: 10px; }
  .maincatalogos {
    background-image: linear-gradient(to right bottom, #0047b0, #d4dff1, #7894c2, #2d333b, #4b94ff); }
  .divcatalogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px; }
  /*QUIENES SOMOS */
  .video {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  /*CONTACTENOS*/
  .mapa {
    display: flex;
    justify-content: center; }
  .iframecontactenos {
    width: 400px;
    height: 200px;
    border: 3px solid;
    border-radius: 5px; }
  .pcontactenos {
    display: none; }
  .divcontactenos {
    display: none; }
  .sectioncontactenosmediasq {
    display: none; }
  /*PRODUCTOS*/
  .divpadreproductos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 15px; }
  .divpadreproductos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; }
  /*BOOTSTRAPS*/
  .sectionmainboot {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px; }
  /*BOTON WASAP*/
  .wasap {
    transform: translate(30px, 30px); } }

@media screen and (max-width: 599px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
  .botonbusqueda {
    display: none; }
  .ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center; }
  .imagen-- {
    width: 200px;
    height: 150px; }
  .divcatalogos__ {
    width: 250px;
    height: 200px; }
  .divcatalogos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .spanfooter {
    display: flex;
    justify-content: center;
    padding-top: 130px; }
  .a {
    display: flex;
    justify-content: center;
    gap: 15px; }
  .divfooter {
    display: none; }
  .imagenfooter {
    display: flex;
    justify-content: center; }
  .pfooter {
    display: flex;
    justify-content: center;
    text-align: center; }
  /*BOOTSTRAPS*/
  .sectionmainboot {
    display: flex;
    width: 300px;
    height: 400px;
    justify-content: center; }
  .imgboot {
    width: 250px;
    height: 125px; }
  /*INICIO*/
  .section {
    transform: translate(0px, -150px); }
  .grid {
    transform: translate(0px, -100px); }
  /*CATALOGOS*/
  .divcatalogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px; }
  /*QUIENES SOMOS */
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; }
  .section1quienessomos {
    padding-top: 20px; }
  /*CONTACTENOS*/
  .mapa {
    display: flex;
    justify-content: center; }
  .iframecontactenos {
    width: 200px;
    height: 100px;
    border: 3px solid;
    border-radius: 5px; }
  .pcontactenos {
    display: none; }
  .divcontactenos {
    display: none; }
  .sectioncontactenosmediasq {
    display: none; }
  /*BOTON WASAP*/
  .wasap {
    transform: translate(30px, 30px); }
  /*PRODUCTOS*/
  .sectionproductos {
    background: linear-gradient(0deg, #22c1c3 0%, #3c83dc 11%);
    width: 250px;
    height: 250px;
    padding-left: 3px;
    padding-top: 4px;
    margin-bottom: 5px;
    border-radius: 20px;
    border-bottom: 3px solid lightblue;
    border-top: 1.5px ridge lightblue; }
  .ulproductos {
    display: none; }
  .pproductos {
    padding-left: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: small; }
  .pproductos2 {
    display: none; }
  .inputproductos {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    transform: translate(10px, -35px);
    gap: 5px; }
  .inputproductos-- {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    transform: translate(0px, 25px); }
  .botonproductos {
    width: 50px;
    height: 25px;
    border-radius: 8px;
    font-size: small;
    transform: translate(0px, 25px); }
  .labelproductos {
    font-size: small;
    transform: translate(0px, 25px); } }

@media screen and (max-width: 300px) {
  .ul__ {
    list-style: none;
    margin-left: 15px;
    text-decoration: underline 1.5px;
    font-size: 12px;
    font-weight: bold; } }
