/* CONTACTENOS */

.maincontactenos {
  color: aliceblue;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  padding-top: 128px;
  padding-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  .formulariodecontacto{
    font-size: 25px;
    text-decoration: underline;

  }

  .sectioncontactenos {
    display: inline-block;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 10px;
  }

  .divcontactenos{
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .mapa{
    display: flex;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
}

.mapa__{

  color: red;

}

.iframecontactenos{
  border: 3px solid lightblue;
  border-radius: 8px;
  width: 600px;
  height: 350px;
}

.pcontactenos{
  text-align: center;
  
}


.buttoncontactenos{
  width: 60px;
  height: 30px;
  }
