.header {
  background-color: white;
  border-bottom: 3px solid lightblue;
  padding: 16px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
position: fixed;
z-index: 10000000;
}

.botonbusqueda{
  border: 1px solid white;
  border-radius: 15px;
  }

.ul{
  display: flex;
  flex-direction: row;
}


.ul__{
  list-style: none;
  margin-left: 15px;
  text-decoration: underline 1.5px;
  font-size: 14px;
  font-weight: bold
  

}

.input{
  border-color: lightblue;
  font-weight: bold;
border-radius: 5px;
width: 150px;
}
.buttoncontactenos{
  font-weight: bold;
  border-width: 0vmin;
  border-radius: 5px;
  border-style: inset;
  transition: 1s;
}

.buttoncontactenos:hover{
  background-color: lightblue;
}

.imgheader{
  width: 200px;
  height: 50px;

}