  /* MEDIAS QUERIE*/

  @media screen and (max-width: 1023px) 
  {
    .header{
      display: flex;
      flex-direction: column;
      justify-content: start;
      }
  .botonbusqueda{
    display: none;
  }
  .imagen{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:5px
  }
  .grid{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: start;
  }
  
  /*CATALOGOS*/
  /*main*/
  .divcatalogos{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px;
  gap: 10px;
  }
  
  .maincatalogos{
    background-image: linear-gradient(to right bottom, #0047b0, #d4dff1, #7894c2, #2d333b, #4b94ff);
  
  }

  .divcatalogos{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px;
  }

  /*QUIENES SOMOS */

  .video{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  /*CONTACTENOS*/
.mapa{
display: flex;  
justify-content: center;
}
.iframecontactenos{
width: 400px;
height: 200px;
border: 3px solid;
border-radius: 5px;
}
.pcontactenos{
display: none;
}
.divcontactenos{
display: none;
}
.sectioncontactenosmediasq{
display: none;
}

/*PRODUCTOS*/

.divpadreproductos1{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
 padding-bottom: 15px;
 }

 .divpadreproductos2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  }



/*BOOTSTRAPS*/

.sectionmainboot{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
}

/*BOTON WASAP*/

.wasap{
  transform: translate(30px, 30px);
  }

}

  
  @media screen and (max-width: 599px) 
  {
  .header{
      display: flex;
      flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  }
  
  .botonbusqueda{
    display: none;
  }
  
  .ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  }
  
  .imagen--{
    width: 200px;
    height: 150px;
  }
  
  
  .divcatalogos__{
    width: 250px;
    height: 200px;
  }
  
  .divcatalogos{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  
  
  .spanfooter{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    
  }
  .a{
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  
  .divfooter{
    display: none;
  
  }
  
  .imagenfooter{
    display: flex;
    justify-content: center;
  }
  
  .pfooter{
    display: flex;
    justify-content: center;
    text-align: center;
  }



  /*BOOTSTRAPS*/

.sectionmainboot{
  display: flex;
  @include flexmedias(300px, 400px, center)
}

.imgboot{
width: 250px;
height: 125px;
}

/*INICIO*/


.section{
transform: translate(0px, -150px);
}

.grid{
transform: translate(0px, -100px);

}

/*CATALOGOS*/
.divcatalogos{
  display: flex;
flex-direction: column;
align-items: center;
padding: 32px;
}

/*QUIENES SOMOS */

.video{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;

}

.section1quienessomos{
padding-top: 20px;
}

  /*CONTACTENOS*/
  .mapa{
    display: flex;  
    justify-content: center;
    }
    .iframecontactenos{
      width: 200px;
      height: 100px;
      border: 3px solid;
    border-radius: 5px;
    }
    .pcontactenos{
      display: none;
    }
    .divcontactenos{
      display: none;
    }
    .sectioncontactenosmediasq{
      display: none;
    }

/*BOTON WASAP*/

.wasap{
transform: translate(30px, 30px);
}

/*PRODUCTOS*/
.sectionproductos {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(60,131,220,1) 11%);
 width: 250px;
  height: 250px;
 padding-left: 3px;
  padding-top: 4px;
   margin-bottom: 5px;
   border-radius: 20px;
   border-bottom: 3px solid lightblue;
   border-top: 1.5px ridge lightblue;

}

.ulproductos{
  display: none;
}

.pproductos{
  padding-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  }

  .pproductos2{
display: none;
}

.inputproductos {
  display: flex;
  justify-content: end;
  padding-right: 16px;
   transform: translate(10px,-35px);
   gap: 5px;
   }

.inputproductos--{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  transform: translate(0px, 25px);

  }
  
.botonproductos{
 width: 50px;
  height: 25px;
  border-radius: 8px;
  font-size: small;
  transform: translate(0px, 25px);
}

.labelproductos{
  font-size: small;
  transform: translate(0px, 25px);
}
}

@media screen and (max-width: 300px) 
{

  .ul__{
    list-style: none;
    margin-left: 15px;
    text-decoration: underline 1.5px;
    font-size: 12px;
    font-weight: bold

}
}