 .mainproductos {
 color: aliceblue;
 background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
 padding-top: 128px;
 width: 100%;
 }
 
 .sectionproductos {
 background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(60,131,220,1) 11%);
width: 500px;
 height: 400px;
padding-left: 16px;
 padding-top: 4px;
  margin-bottom: 5px;
  border-radius: 20px;
  border-bottom: 3px solid lightblue;
  border-top: 1.5px ridge lightblue;
  }
 
  /*.divp {
        font-size: 18px; color: beige;
        font-style: italic;
        font-weight: bolder;
      }*/
 .inputproductos {
 display: flex;
 justify-content: end;
 padding-right: 16px;
  transform: translate(10px,-35px);
  gap: 5px;
  }
  
  .inputproductos--{
  width: 75px;
  height: 26px;
  border-radius: 5px;
  
  }
  
  .botonproductos{
 width: 55px;
  height: 26px;
  border-radius: 5px;
  
  }
  
 
 .divpadreproductos1{
 display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
padding-bottom: 15px;
}
  
.divpadreproductos2{
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
}
  
 .ulproductos{
 display: inline-block;
 justify-items: start;
 transform: translate(-30px);
  }
  
  .pproductos{
 padding-left: 45px;
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 }

 .inputproductos-adonis{
 transform: translate(5px, 35px);
 }

 .inputproductos-handpush{
  transform: translate(5px, 10px);
}

