.mainquienes{
  padding: 100px 16px;
  background-image: linear-gradient(to right bottom, #0047b0, #1b5ac4, #2c6dd7, #3c80eb, #4b94ff);
  color: aliceblue;
}

h3 {
  font-weight: bold ;
  text-decoration: underline;
  text-align: start;
  padding-top: 15px;
}

.imgquienes {
 
  width: 200px;
  height: 200px;
  position: relative; top: 15px;
  border-color: whitesmoke;
  border-radius: 80px;
  border-style: solid;
  border-style: outset;
}

.video {
  display: flex; 
  justify-content: space-around;
  padding-top: 20px;
}

.video__{
  width: 200px;
  height: 200px;
  border-color: aliceblue;
  border-radius: 50px;
  border-style: outset;
  object-fit: cover;
}

.href3quienessomos{
  font-weight: bold;
  color: white;
  transition: background-color .5s;
}

.href3quienessomos:hover{
  background-color: gold;
  font-size: large;
}


.divquienes{
  display: flex;
  justify-content: center;
}

.spanquines{
  font-weight: bolder;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}